.contact-container {

    .btn-return {
        height: 48px;
        margin: 17px  0px 0px 46px;
        padding: 0px 24px;
        display: flex;
        gap: 4px;
        align-items: center;
        font-family: $arial;
        font-weight: 700;
        @include font-16;
        color: $light-black;
        @media screen and (max-width: $break-large) {
            height: 26px;
            margin: 24px 0px 20px auto;
        }

        img {
            width: 24px;
            height: 15px;
        }
    }


    .container {
        width: 100%;
        max-width: 766px;
        height: 650px;
        top: 120px;
        margin: -18px auto 0px auto;
        padding: 24px;
        gap: 12px;


        @media screen and (max-width: $break-large) {
            flex-wrap: wrap;
        }


        .content-title-form {
            display: flex;
            gap: 90px;
            flex-wrap: wrap;
            margin-top: -7px;
            
            @media screen and (max-width: $break-large) {
                gap: 40px;
            }

            .title-container {

                h1 {
                    font-family: $clearface-bold;
                    font-weight: 500;
                    @include font-36;
                    color: $light-black;
                    position: relative; 
                
                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 69px; 
                        height: 5px; 
                        background-color: $light-black;
                    }
                }
            }

            .container-contact {
                width: 444px;
                height: 602px;

                    @media screen and (max-width: $break-large) {
                        width: 100%;
                    }

                form {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    gap: 18px;
                    padding-bottom: 25px;

                    .form-group-row {
                        display: flex;
                        gap: 20px;

                        @media screen and (max-width: $break-small) {
                            flex-direction: column;
                        }

                        .form-group {
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                        }
                    }

                    .form-group {
                        label {
                            display: block;
                            margin-bottom: 6px;
                            color: $grey;
                            font-family: $arial;
                            font-weight: 700;
                            @include font-16;
                        }

                        input,
                        textarea {
                            width: 100%;
                            height: 42px;
                            padding: 10px;
                            border-radius: 2px;
                            font-size: 14px;
                            color: $grey;
                            font-family: $arial;
                            background-color: #F3F3F4;
                        }

                        textarea {
                            height: 99px;
                            resize: none;
                        }
                    }

                    .form-terms {
                        display: flex;
                        gap: 6px;

                        @media screen and (max-width: $break-small) {
                            align-items: center;
                        }

                        input[type="checkbox"] {
                            width: 14px;
                            min-width: 12px;
                            height: 14px;
                            background-color: $white;
                            border: 2px solid $blue;
                            border-radius: 2px;
                            cursor: pointer;
                            position: relative;
                            appearance: none;

                            @media screen and (max-width: $break-small) {
                                border: 2px solid $light-black;                            
                            }

                            &:checked {
                                background-color: $blue;
                                border-color: $blue;
                                @media screen and (max-width: $break-small) {
                                    background-color: $light-black;
                                    border: 2px solid $light-black;                            
                                }

                                &::after {
                                    content: '';
                                    background-image: url('../img/check.svg');
                                    background-size: cover;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    width: 12px;
                                    height: 12px;
                                    transform: translate(-50%, -50%);
                                }
                            }
                        }

                        p {
                            font-family: $arial;
                            font-weight: 400;
                            @include font-12;
                            color: rgba($grey, 0.6); 
                            
                            a {
                                color: $black;
                            }
                        }
                    }

                    button {
                        width: auto;
                        height: 48px;
                        padding: 0px 24px;
                        gap: 4px;
                        background-color: $blue;
                        box-shadow: 0px 4px 8px 0px $black-shadow;
                        text-transform: uppercase;
                        font-family: $arial;
                        font-weight: 700;
                        @include font-16();
                        color: $white;
                        margin-left: auto;

                        @media screen and (max-width: $break-small) {
                            background-color: $light-black;                            
                        }
                    }
                }
            }
        }
    }
}