footer {
    color: $white;
    background-color: $green-02;

    .container {
        @include flex(flex, center, space-between);
        padding: 40px 0px;

        @media screen and (max-width: $break-medium) {
            flex-direction: column;
            gap: 40px;
            text-align: center;
        }
    }

    .content-links {
        @include flex(flex, center, center);
        gap: 20px;
        font-size: 20px;

        .fab {
           &:hover{
            color: $golden;
           }
        }
    }
}