header {
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: $green;
  padding: 10px 0px;
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.3);

  &.open {
    .container {
      width: 100%;
      max-width: initial;
      margin: 0px;
    }

    .content-logo {
      margin-left: 20px;
    }

    .fa-bars {
      margin-right: 20px;
    }

    nav {
      width: 100%;
      display: block;
      position: absolute;
      top: 90px;
      height: 100vh;
      background-color: $green-02;
      padding: 80px 0px;

      ul {
        width: calc(100% - 40px);
        max-width: 1200px;
        margin: 0 auto;

        li {
          width: 100%;

          a {
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }

  .container {
    @include flex(flex, center, space-between);
  }

  .content-logo {
    width: 110px;
    //height: 280px;

    @media screen and (max-width: $break-medium) {
      width: 80px;
    }

    img {
      @include imgCover;
    }
  }

  nav {
    @media screen and (max-width: $break-medium) {
      display: none;
    }

    ul {
      @include flex(flex, center, center);
      gap: 5px;

      @media screen and (max-width: $break-medium) {
        flex-direction: column;
      }

      li {
        padding: 20px;
        background-color: transparent;
        border-radius: 5px;
        transition: background-color 600ms ease, border-radius 600ms ease, color 600ms ease;
        color: $white;

        &:hover {
          background-color: $white;
          border-radius: 30px;
          color: $black;
        }

        a {
          font-size: 18px;
          text-transform: uppercase;
        }
      }
    }
  }

  .fa-bars {
    display: none;
    font-size: 22px;
    color: $white;
    padding: 10px;
    cursor: pointer;
    transition: background-color 400ms ease, color 400ms ease, border-radius 400ms ease;

    @media screen and (max-width: $break-medium) {
      display: flex;
    }
  }
}